*{
    box-sizing: border-box;
    outline: none; !important
}

a:focus{
    outline: none;
}

html{
    width: 100%;
    min-height: 100%;
    font-family: sans-serif;
}

body{
    padding: 1em;
    margin: 0;
    background-color: #2c3a3f;
    /*background-image: linear-gradient(#2c3a3f, #3C3734);*/
    /*background-image: linear-gradient(#2c3a3f, #26242C);*/
    /*background-image: linear-gradient(#3c382f, #24272C);*/
    min-height: 100%;
    color: hsla(0, 100%, 100%, 0.5);
}

.flex_container{
    display: flex;
}

.flex_container.column{
    flex-flow: row;
}

.flex_container .center{
    align-items: center;
}


#main_container{
    margin: 1em;
    flex: 1 1 auto;
}


.user_actions{
    display: flex;
    justify-content: center;
}


.user_actions a{
    display: block;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em;
    color: #888;
    background-color: hsla(0,100%,100%,0.05);
}

.user_actions a:hover{
    background-color: hsla(0,100%,100%,0.075);
    color: #bbb;
}

#header{
    margin: 1em 1em 2em 1em;
}

#search{
    background-color: hsla(0,100%,100%,0.05);
    border: none;
    font-weight: bold;
    color: #aaa;
    padding: 1em;
    width: 100%;
    transition: background-color 0.25s, color 0.25s;
}

#search:focus{
    background-color: hsla(0,100%,100%,0.075);
}

.movie_list{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: -1em;
}


.movie{
    display: inline-block;
    flex: 1 1 auto;
    margin: 1em;
    min-width: 175px;
    max-width: 225px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 4px hsla(0,0%,0%,0.25);
}

.movie .poster_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    border: 1px solid #222;
}

.movie .poster{
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.1s ease-out;
    position: absolute;
    top: 0;
    left: 0;
}

.movie .overlay{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-flow: column;
    display: flex;
    transition: opacity 0.2s ease-out;
}


.movie:hover .poster{
    -webkit-filter: blur(40px);
    filter: blur(40px);
}

.movie:hover .overlay{
    opacity: 1.0;
}

.overlay h4, #watchlist .overlay h4{
    width: 100%;
    color: hsla(0, 100%, 100%, 0.75);
    margin: 0;
    padding: 2em 1em;
    text-shadow: 0 0 2px hsla(0,0%,0%,0.5);
    flex: 1 1 100%;
}


.movie .actions{
    margin: 1em;
    border-radius: 3px;
    display: flex;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.05);
}

.movie .actions a{
    color: black;
    display: block;
    padding: 1em;
    background-color: hsla(0, 100%, 100%, 0.25);
    text-decoration: none;
    flex: 1 1 auto;
}

.movie .actions a:hover{
    background-color: hsla(0, 100%, 100%, 0.35);
}


video{
    width: 100%;
}

h1{
    color: hsla(0, 100%, 100%, 0.25);
}

.back_link{
    color: #aaa;
    display: inline-block;
    padding-right: 0.5em;
}





.description{
    margin: 2em 0 0 0;
    /* background-color: hsla(0,100%,100%,0.025);*/
    background-color: hsla(0,0%,0%,0.1);
    display: flex;
    padding: 1em;
}

.description > div{
    padding: 1em;
}

.description > div + div{
    margin-left: 0;
}

.description .poster img{
    max-width: 150px;
    max-height: 215px;
}


.description h1{
    margin: 0;
    padding: 0;

}

.description .actions{
    margin: 1em 0;
}

.description .actions a{
    display: inline-block;
    background-color: hsla(0, 100%, 100%, 0.05);
    padding: 1em 1.5em;
    text-decoration: none;
    color: hsla(0, 100%, 100%, 0.25);
}

.description .actions a:hover{
    background-color: hsla(0, 100%, 100%, 0.075);
}

#plot{
    text-align: justify;
}


form p{
    width: 100%;
    display: flex;
    align-items: stretch;
}


form p label{
    flex: 0 1 250px;
    min-width: 250px;
    background-color: hsla(0, 100%, 100%, 0.025);
    padding: 0.75em;
}

form p input{
    width: 100%;
    background-color: hsla(0,100%,100%,0.05);
    border: none;
    padding: 0.75em 1em;
    color: #888;
    transition: background-color 0.25s, color 0.25s;
}

form p input:focus{
    background-color: hsla(0,100%,100%,0.075);
}

form p span{
    display: none;
}

button {
    background-color: hsla(0,100%,100%,0.05);
    border: none;
    margin: 0.5em 0;
    border-radius: 3px;
    color: #888;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.25s, color 0.25s;
}

button:hover{
    background-color: hsla(0,100%,100%,0.075);
    color: white;
}

form ul{
    padding: 1em;
    list-style: none;
    background-color: hsla(0, 100%, 100%, 0.025);
}

form ul.errorlist{
    background-color: hsla(0, 81%, 60%, 0.3);
}

#completion{
    margin: -2em 1em 0 1em;
    position: absolute;
    width: calc(100% - 4em);
    z-index: 20;
    background-color: #333;
    box-shadow: 0 2px 1px hsla(0, 0%, 0%, 0.2);
}


#completion > div{
    padding: 0.5em;
    cursor: pointer;
}

#completion > div:hover, #completion > div.selected{
    background-color: hsla(0, 0%, 0%, 0.25);
}

#completion > div img{
    height: 5em;
    width: 3.5em;
    vertical-align: middle;
    margin-right: 1em
}

#completion > div > div{
    display: inline-block;
    height: 5em;
    width: 3.5em;
    vertical-align: middle;
    margin-right: 1em;
    background-color: black;
}

.messages{
    list-style: none;
    padding: 0;
    margin-bottom: 2em;
}
.messages li{
    padding: 1em;
    background-color: hsla(0, 100%, 100%, 0.025);
}

.messages li.info{
    background-color: hsla(203, 55%, 68%, 0.3);
}

.messages li.error{
    background-color: hsla(0, 81%, 60%, 0.3);
}

.messages li.warning{
    background-color: hsla(29, 55%, 68%, 0.3);
}

.messages li.success{
    background-color: hsla(106, 55%, 68%, 0.3);
}

.new_movie_notification{
    width: 100%;
    padding: 0;
}

.user_actions .active_notification{
    color: #b8ead8;
    text-shadow: 0 0 20px #b8ead8;
    animation-name: notify_blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes notify_blink{
    0%{
        color: #888;
        text-shadow: 0 0 10px hsla(0,0%,0%,0)
    }
    5%{
        color: #b8ead8;
        text-shadow: 0 0 10px #b8ead8;
    }
    15%{
        color: #b8ead8;
        text-shadow: 0 0 10px #b8ead8;
    }
    100%{
        color: #888;
        text-shadow: 0 0 10px hsla(0,0%,0%,0)
    }
}
