{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cinema</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/cinema.css' %}"/>
        <link rel="stylesheet" href="{% static 'contrib/font-awesome-4.5.0/css/font-awesome.min.css'%}" />
        <script src="{% static 'js/retract.js' %}"></script>
        <script src="{% static 'js/simplesearch.js' %}"></script>
    </head>
    <body>
        {% if not request.user.is_authenticated %}
        <div id="login_container">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
        </div>
        {% endif %}
        <div class="flex_container column">
            <div id="main_container">
                {% block main %}
                {% endblock %}
            </div>

            {% if request.user.is_authenticated %}

            <div id="side_container">
                <a href="#" id="retract_btn"><i id="side_container_icon" class="fa fa-chevron-right"></i></a>
                <!--
                <img id="profile_picture" src="http://img1.mxstatic.com/wallpapers/1ee63d0d82faaebfb7108a7190eaf3bc_large.jpeg"/>
                -->
                <div id="user_actions">
                    <a href="#"><i class="fa fa-user"></i></a>
                    <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i></a>
                </div>
                <div id="watchlist">
                    <h4>Watchlist <a href="#"><i class="fa fa-play-circle" title="Play all"></i></a></h4>
                    <hr/>

                </div>
            </div>

            {% endif %}
        </div>


        <script>
            new Retractable('side_container', 'retract_btn', {
                icon: {
                    id: 'side_container_icon',
                    retracted: {
                        class: 'fa fa-chevron-left'
                    },
                    expanded:{
                        class: 'fa fa-chevron-right'
                    }
                }
            });
        </script>
    </body>
</html>
