{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cinema</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/cinema.css' %}"/>
        <link rel="stylesheet" href="{% static 'contrib/font-awesome-4.5.0/css/font-awesome.min.css'%}" />
        <script src="{% static 'js/django.js' %}"></script>
        <script src="{% static 'js/retract.js' %}"></script>
        <script src="{% static 'js/simplesearch.js' %}"></script>
        <script src="{% static 'js/completion.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        {% if user.is_authenticated %}
            <script src="{% static 'js/watchlist.js' %}"></script>
        {% endif %}
    </head>
    <body>


        <div id="header" class="flex_container">
            <div class="user_actions">
                {% if request.path != "/" %}
                    <a href="{% url 'index' %}"><i class="fa fa-chevron-left"></i></a>
                {% endif %}
            </div>
            <input type="search" list="movies" name="search" id="search" placeholder="Search a movie" autocomplete="off"/>
            <datalist id="movies">
                {% for movie in movies %}
                    {% if movie.poster %}
                        <option data-poster="{{ movie.poster.url }}" value="{{ movie.title }}" data-link="{% url 'watch' mid=movie.pk %}"/>
                    {% else %}
                        <option data-poster="" value="{{ movie.title }}" data-link="{% url 'watch' mid=movie.pk %}"/>
                    {% endif %}
                {% endfor %}
            </datalist>
            <div class="user_actions">
                <a href="{% url 'random' %}" title="Random"><i class="fa fa-random"></i></a>
                {% if request.user.is_authenticated %}
                    <a href="#watchlist" title="Watchlist" onclick="watchlist.toggle();return false;"><i class="fa fa-play"></i></a>
                    <a href="{% url 'movie_request' %}" title="Request a movie"><i class="fa fa-plus"></i></a>
                    {% if new_movie_notifications %}
                        <a href="{% url 'new_movies' %}" title="New movies" class="active_notification"><i class="fa fa-bell"></i></a>
                    {% else %}
                        <a href="{% url 'new_movies' %}" title="New movies"><i class="fa fa-bell"></i></a>
                    {% endif %}
                    <a href="{% url 'profile' %}" title="User settings"><i class="fa fa-user"></i></a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" title="Administration"><i class="fa fa-wrench"></i></a>
                    {% endif %}
                    <a href="{% url 'logout' %}" title="Logout"><i class="fa fa-power-off"></i></a>
                {% else %}
                    <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in"></i></a>
                {% endif %}
            </div>
        </div>

        <div id="watchlist">
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="main_container">
            {% block main %}
            {% endblock %}
        </div>

        <script>
            window.addEventListener('load', function(){
                var completion = new Completion('search');
                {% if enable_simple_search %}
                    new SimpleSearch('search', '.movie', 'h4');
                    completion.enabled = false;
                {% endif %}
            });
        </script>
    </body>
</html>
