{% extends 'base.html' %}
{% load static %}


{% block main %}
    <div class="movie_list">
        <input type="text" name="search" id="search" placeholder="Search" />
    {% for movie in movies %}
            <div class="movie">
                <div class="poster_container">
                {% if movie.poster %}
                    <div class="poster" style="background-image: url('{{ movie.poster.url }}');">
                {% else %}
                    <div class="poster">
                {% endif %}

                    </div>
                </div>
                <div class="overlay">
                    <h4>{{ movie.title }}</h4>
                    <div class="actions">
                        <a href="{% url 'watch' mid=movie.pk %}"><i class="fa fa-eye"></i></a>
                        <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
