{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'css/login.css' %}" />
		<link rel="stylesheet" href="{% static 'contrib/font-awesome-4.5.0/css/font-awesome.min.css' %}" >
	</head>
	<body>
		<main>
            <div id="explore">
                <a href="{% url 'index' %}"><i class="fa fa-film"></i> Explore movies</a>
            </div>
            <div>
                <h2>Login</h2>
                {% if form.errors %}
                    <p class="error">
                        Your username and password didn't match. Please try again.
                    </p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p class="error">
                        Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.
                    </p>
                    {% endif %}
                {% endif %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="hidden" name='next' value='{{ next }}'>
                    <div class="flex">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}"><i class="fa fa-user"></i></label>
                    </div>
                    <div class="flex">
                        {{ form.password }}
                        <label for="{{ form.password.id_for_label }}"><i class="fa fa-unlock-alt"></i></label>
                    </div>
                    <button>Login <i class="fa fa-chevron-right" ></i></button>
                </form>
            </div>
		</main>
	</body>
</html>

