{% extends 'base.html' %}
{% load static %}


{% block main %}
    <ul class="requests">
        {% for movie_request in movie_requests %}
            {% if perms.application.can_delete_movierequest %}
                <li><span>{{ movie_request.title }}</span><a href="{% url 'delete_movie_request' pk=movie_request.pk %}"><i class="fa fa-trash"></i></a></li>
            {% else %}
                <li><span>{{ movie_request.title }}</span></li>
            {% endif %}
        {% endfor %}
    </ul>

    <hr/>
    <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Post request</button>
    </form>
{% endblock %}
