{% extends 'base.html' %}
{% load static %}


{% block main %}
    <div class="movie_list">
        {% for movie in watchlist %}
            <div class="movie">
                <div class="poster_container">
                {% if movie.poster %}
                    <div class="poster" style="background-image: url('{{ movie.poster.url }}');">
                {% else %}
                    <div class="poster">
                {% endif %}

                    </div>
                </div>
                <div class="overlay">
                    <h4>{{ movie.title }}</h4>
                    <div class="actions">
                        <a href="{% url 'watch' mid=movie.pk %}" title="Watch movie"><i class="fa fa-play"></i></a>
                        <a href="#" title="Add to watchlist" onclick="watchlist.add({{ movie.id }});return false;"><i class="fa fa-plus"></i></a>
                        <a href="{{ movie.path_to_static }}" title="Download" download><i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
