{% extends 'base.html'%}

{% block main %}
<div class="video_container">
    <video controls>
        <source src="{{ movie.path_to_static }}" type="video/mp4">
        <ul class="messages">
            <li class="error">Your browser doesn't support HTML5 embeded videos.</li>
        </ul>
        {% for sub in movie.subtitles.all %}
            <track label="{{ sub.name }}" kind="subtitles" srclang="en" src="{{ sub.vtt_file.url }}">
        {% endfor %}
    </video>

    <script>
        window.addEventListener('load', function(){
            var video = document.querySelector('video');
            var sources = video.querySelectorAll('source');

            video.addEventListener('play', function(){
                watchlist.remove({{ movie.id }});
            });

            function checkTypeError(){
                if(video.networkState == HTMLMediaElement.NETWORK_NO_SOURCE){
                    var errorlist = document.createElement('ul');
                    errorlist.className = "messages";
                    var error = document.createElement("li");
                    error.className = "info";
                    error.innerHTML = "This movie format cannot be read in your browser. You can still download the movie and watch it with your favourite player.";
                    errorlist.appendChild(error);
                    video.parentNode.replaceChild(errorlist, video);
                }
            }

            checkTypeError();
            sources[sources.length - 1].addEventListener('error', checkTypeError);
        });
    </script>
</div>
<div class="description">
    {% if movie.poster %}
        <div class="poster">
                <img src="{{ movie.poster.url }}" alt="poster">
        </div>
    {% endif %}
    <div>
        <h1>{{ movie.title }} </h1>
        <div class="actions">
            {% if user.is_authenticated %}
                <a href="#" onclick="watchlist.add({{movie.id}}); return false;"><i class="fa fa-plus"></i></a>
            {% endif %}
            <a href="{{ movie.path_to_static }}" download><i class="fa fa-download"></i></a>
            {% if movie.imdbid %}
                <a href="http://www.imdb.com/title/{{ movie.imdbid }}/" download>IMDb</a>
            {% endif %}

            {% if movie.subtitles.all %}
                <div class="dropdown">
                    <header title="Download subtitles"><i class="fa fa-cc"></i></header>
                    <main>
                        {% for sub in movie.subtitles.all %}
                            <a href="{{ sub.vtt_file.url }}" download><i class="fa fa-download"></i> {{sub.name}}</a>
                        {% endfor %}
                    </main>
                </div>
            {% endif %}
        </div>
        {% if movie.plot %}
            <p id="plot">{{ movie.plot }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
